body {
    color: #ddd;
    font-size: 3rem;
    text-align: center;
    background: url('./images/debut_dark.png');
}

.header {
    margin-top: 8rem;
    color: #fff;
    font-size: 8rem;
}

.ut {
    font-family: 'Jura', sans-serif;
    font-size: 10rem;
}

p {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 0rem;
    margin-bottom: 18rem;
    line-height: 1.5;
}

.header-align {
    text-align: center;
}

#format-studio {
    font-family: 'Fjalla One', sans-serif;
    font-size: 7rem;
}

.et {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 10rem;
}

.format-image {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Droid Sans';
    font-size: 2rem;
    text-align: center;
    border: solid;
    border-color: rgba(191, 114, 126, 0.8)
}


@keyframes beat {
  0%, 100% {
    font-size: 1em;
    color: #d14;
  }
  20% {
    font-size: 1.2em;
    color: #d25;
  }
  30% {
    font-size: 1.15em;
    color: #d36;
  }
  40% {
    font-size: 1.2em;
    color: #d25;
  }
}

.heart {
  color: #f25;
  animation: beat 1s infinite;
}

.heart-container {
    font-size: 0.8em;
    display:inline-block;
    width: 0.1em;
}
